* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    background-color:white;
    position: relative;
    color:#555;
    font-family:'Lato','Arial','sans-serif';
    font-size:20px;
    font-weight:300;
    text-rendering:optimizeLegibility;
    overflow-x: hidden;
    max-width: 1440px;
    max-height: 1100px;
    
}

.clearfix{zoom:1}
.clearfix{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}

header
{
    background-image: url('../img/aboutpage/land1.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position:center;
    background-attachment: scroll;
    z-index: 0;
}

/*-----------------------------------------------*/
/*Reusable Components*/
/*-----------------------------------------------*/
.row {
    position: relative;
    margin-right: 100px;
    margin-left: 100px;
}

.row_navbar{
    position: fixed;
    overflow: hidden;
    top: 0;
    width:100%;
    height: 10%;
    z-index: 1;
    background-color: white;
}

a:link,
a:visited {
    color: #000000;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #19d400;
}

a:hover,
a:active{
    color:#555;
    border:1px solid transparent;
    transition: border-bottom 0.2s,color 0.2s;
}

.main-nav {
    position: relative;
    list-style: none;
    margin-top: 0px;
    z-index: 1;
    font-family: "Roboto";
    font-size:25px;
    font-weight: normal;
}
.main-nav li{
    display: inline-block;
    margin-left:80px;
    z-index: 1;
}


.aboutlink {
    margin-top: 50px;
    float: left;
    font-family:Nunito Sans;
}
.worklink {
    margin-top: 50px;
    float: left;
    font-family:Nunito Sans;
}

.contactlink {
    margin-top: 50px;
    float: right;
    color:black;
    margin-right: 300px;
    font-family:Nunito Sans;
}

.logo{
    height:120px;
    width:auto;
    float: left;
    margin-right: 10px;
    margin-left: 50px;
    z-index: 0;
}

.logo-small {
    position: absolute;
    height: 36px;
    width: auto;
    margin-top:45px;
    margin-left: 680px;
}
.main-nav li{
    display: inline-block;
    margin-left:80px;
    z-index: 1;
}
.active {
    background-color: #04AA6D;
  }

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    padding:5px;
    border: 2px solid #000000;
}

/*-----------------------------------------------*/
/*Features*/
/*-----------------------------------------------*/

.sticky{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}
.sticky .main-nav {margin-top: 18px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 16px 0;
    color: #555555;
}
.sticky .logo{display: none;}
.sticky .logo-black{display: block;}


.profile{
    width: 466px;
    height:610px;
    position: absolute;
    top:230px;
    padding:1px;
    left:120px;
    z-index: 0;
}

.title{
    color:black;
    font-family: Nunito Sans;
    font-weight:bold;
    margin-top:130px;
    position: relative;
    float:center;
    left:550px;
    z-index: 0;
}

.land1about{
    color: black;
    font-family: Nunito Sans;
    font-size: 20px;
    margin-top:80px;
    margin-left: 819px;
}
.page2{
    background-image: url('../img/aboutpage/land2.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position:center;
    background-attachment: scroll;
    z-index: 0;
    bottom: 0px;
}

.title2{
    color:black;
    font-family: Nunito Sans;
    font-weight:bold;
    margin-top:100px;
    top:9.2%;
    left:43%;
    font-size: 48px;
    position: relative;
    color: black;
}

.page2para1{
    color: black;
    font-family: Nunito Sans;
    font-size: 20px;
    position: relative;
    top:8%;
    left: 8%;
    padding:10px;
}

.box{
    width:240px;
    height:248px;
    text-align:center;
    font-size: 20px;
    font-family: Nunito Sans;
}

.box1{
    position: relative;
    color:white;
    top:50.8%;
    left:9%;
    background-color:#0D9488;
}

.box2{
    position: relative;
    color: black;
    top:95px;
    left:31%;
    background-color: #CCFBF1;
}

.box3{
    position: relative;
    color:white;
    left:52.5%;
    bottom:270px;
    background-color:#8C1B2F;
}

.box4{
    position: relative;
    color:black;
    left:76%;
    bottom:640px;
    background-color:#f3e8ea;
}

.about3{
    height:100%;
    width:100%;
    z-index: 0;
}

.title3{
    color:black;
    font-family: Nunito Sans;
    font-weight:bold;
    margin-top:80px;
    left:20%;
    top:11%;
    font-size: 48px;
    position: relative;
}

.container{
    display:inline-grid;
    margin-left:12.5%;
}

.container1
{
    grid-template-columns:56.5% 43.5%;
    margin-top:12%;
}

.item{
    z-index: 0;
}

.item-1{
    padding:0 0 20px;
    grid-column: 1/1;
    grid-row:1/1;
    border-right: 2px solid black;
    border-bottom: 4px solid black;
}

.item-2{
    padding: 0 40px 0 40px;
    grid-column: 2/2;
    grid-row:1/1;
    border-left: 2px solid black;
    border-bottom: 4px solid black;
}

.text1 {
    width:456px;
    height: 400px;
    text-align:center;
    font-family: "Nunito Sans";
    font-size: 20px;
    color: white;
    background-color: #176E63;
}

.container2{
    grid-template-columns:43.5% 56.5% ;
}

.item-3{
    padding:20px 40px 20px 0px;
    grid-column: 1/1;
    grid-row:1/1;
    border-right: 2px solid black;
    border-bottom: 4px solid black;
}
.item-4 {
    padding: 20px 0px 20px 40px ;
    grid-column: 2/2;
    grid-row: 1/1;
    align:right;
    border-left: 2px solid black;
    border-bottom: 4px solid black;
}

.text2 {
    width: 456px;
    height: 200px;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 20px;
    color: black;
    background-color: #CCFBF1;
}

.container3{
    grid-template-columns:56.5% 43.5%;
}

.item-5{
    grid-column: 1/1;
    grid-row:1/1;
    padding:20px 40px 20px 0px;
    border-right: 2px solid black;
    border-bottom: 4px solid black;
}

.item-6{
    grid-column: 2/2;
    grid-row:1/1;
    padding:20px 0px 20px 40px;
    border-left: 2px solid black;
    border-bottom: 4px solid black;
}

.text3{
    width:456px;
    height: 400px;
    text-align:center;
    font-family: "Nunito Sans";
    font-size: 20px;
    color: white;
    background-color: #8C1B2F;
}

.container4{
    grid-template-columns:43.5% 56.5%;
}

.item-7{
    padding:20px 40px 0px 0px;
    grid-column: 1/1;
    grid-row:1/1;
    border-right: 2px solid black;
}
.item-8 {
    padding: 0px 0px  0px 40px ;
    grid-column: 2/2;
    grid-row: 1/1;
    border-left: 2px solid black;
}

.text4 {
    width: 456px;
    height: 300px;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 20px;
    color: black;
    background-color: #F3E8EA;
}