* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    background-color:white;
    position: relative;
    color:#555;
    font-family:'Lato','Arial','sans-serif';
    font-size:20px;
    font-weight:300;
    text-rendering:optimizeLegibility;
    overflow-x: hidden;
    max-width: 1440px;
    max-height: 1024px;
    
}

.clearfix{zoom:1}
.clearfix{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}

header
{
    background-image: url('../img/landingpage.png');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    z-index: 0;
}

*-----------------------------------------------*/
/*Reusable Components*/
/*-----------------------------------------------*/
.row {
    position: relative;
    margin-right: 100px;
    margin-left: 100px;
}




a:link,
a:visited {
    color: #000000;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #19d400;
}

a:hover,
a:active{
    color:#555;
    border-bottom:1px solid transparent;
    transition: border-bottom 0.2s,color 0.2s;
}



.main-nav {
    position: relative;
    list-style: none;
    margin-top: 0px;
    z-index: 1;
    font-family: "Roboto";
    font-size:25px;
    font-weight: normal;
}
.main-nav li{
    display: inline-block;
    margin-left:80px;
    z-index: 1;
}


.aboutlink {
    margin-top: 50px;
    float: left;
}
.worklink {
    margin-top: 50px;
    float: left;
}

.contactlink {
    margin-top: 50px;
    float: right;
    margin-right: 300px;
}

.logo,
.logo-black{
    height:120px;
    width:auto;
    float: left;
    margin-right: 10px;
    margin-left: 50px;
}
.logo-black{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin-top:5px ;
}

.logo-small {
    position: absolute;
    height: 36px;
    width: auto;
    margin-top:20px;
    margin-left: 680px;
}
.main-nav li{
    display: inline-block;
    margin-left:80px;
    z-index: 1;
}
.active {
    background-color: #04AA6D;
  }

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #000000;
}

/*-----------------------------------------------*/
/*Features*/
/*-----------------------------------------------*/

.sticky{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    background-color: rgba(255,255,255,0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}
.sticky .main-nav {margin-top: 18px;}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
    padding: 16px 0;
    color: #555555;
}
.sticky .logo{display: none;}
.sticky .logo-black{display: block;}


.Profile
{
    position: absolute;
    height:700px;
    width: 650px;
    margin-top: 185px;
    left: 725px;
    bottom:0px;
}

.hero-title {
    color:#6B6B6B;
    position: absolute;
    left:195px;
    font-weight: 500;
    margin-top:150px;
    font-size: 48px;
    font-family:Nunito Sans;
}

.UserExperience
{
    color:#6B6B6B;
    font-family:Nunito Sans;
    font-size: 70px;
    position: absolute;
    top:300px;
    font-weight: 500;
    left: 195px;
}

.Designer
{
    color:#6B6B6B;
    font-family:Nunito Sans;
    font-size: 70px;
    position: absolute;
    font-weight: 500;
    top: 380px;
    left:195px;
}

.sidebartext{
    font: Nunito Sans;
    font-weight: lighter;
    color:white;
    background-color:#DB7169;
    position: absolute;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height:80px;
    left:1164px;
    top:200px;      
}

.findout
{
    background-color:#176E63;
    border:3px solid black;
    box-shadow: 5px;
    border-radius:25px;
    height:90px;
    color:white;
    width:250px;
    font-size: 30px;
    top: 550px;
    position: absolute;
    left:400px;
    
}

.work{
    background-image: url('../img/landingpage2.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    z-index: 0;
    position: absolute;
    margin-top:40px;
}

.work-title
{
    color:black;
    position: relative;
    left:525px;
    float:center;
    font-weight: 500;
    top :30px;
    font-size: 48px;
    font-family:Nunito Sans;
}

.worktext1{   
    font-size: 20px;
    font-family: Nunito Sans;
    position: relative;
    left:173px;
    float: left;
    top: 70px;
    font-weight: normal;
}

.worktext2{ 
    font-size: 20px;
    font-family: Nunito Sans;
    position: relative;
    left:173px;
    float: left;
    top: 150px;
    font-weight: normal;
}

.icon
{
    width:54px;
    height:54px;
    display: flex;
    padding:1px;
}

.icon1,.icon2
{    
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:8px;
    right:4px;
}

.icon3{
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:10px;
    right:6px;
}


.button {
    background-color:white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 4px;
    border-radius: 50%;
    position: relative;
    top:380px; 
    height:89px;
    width:89px;
}

.button1 {
    right: 820px;
    border: 6px solid #0D8A7A;
}
.button2{
    border: 6px solid #c4c4c4;
    right: 510px;

}
.button3 {
    border: 6px solid #8C1B2F;
    right:190px;
}

.button1,.button2,.button3
{
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
}

.button::after{
    content: '';
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -5px;
    width: 84px;
    height: 84px;
    z-index: -1;
    box-shadow: 0 0px 10px 4px black;
}

.grid_container{
    display: inline-grid;
    grid-template-columns: auto;
    position: absolute;
    z-index: 1;
    top:560px;
}
.grid_container1
{
    right:970px;
    padding: 10px;  
    column-gap:20px;
}

.grid_container2{
    column-gap: 20px;
    left:570px;
    padding:10px
}

.grid_container3{
    column-gap: 20px;
    left:1000px;
    padding:10px;
    background-color: white;
}

.headtext1,.headtext2,.headtext3
{
    height:68px;
    weight: 288px;
    padding:30px;
    color:black;
    font-size:24px;
    padding:10px;
    color:white;
    font-family: Nunito Sans;
    font-weight: bold;
    border: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headtext1{background-color: #0D8A7A;}
.headtext2{background-color: #c4c4c4;}
.headtext3{background-color: #8C1B2F;}


.headtext1::after,
.headtext2::after,
.headtext3::after{
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 288px;
    height: 100%;
    z-index: -1;
    box-shadow: 0 10px 20px 10px #ddd;
}

.buttontext1,.buttontext2,.buttontext3
{
    color:black;
    border: 1px solid #ffffff;
    font-size:20px;
    height:198px;
    width: 288px;
    text-align: center;
    color:black;
    font-family: Nunito Sans;
    font-weight: normal;
}


