* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    background-color:white;
    position: relative;
    color:#555;
    font-family:'Lato','Arial','sans-serif';
    font-size:20px;
    font-weight:300;
    text-rendering:optimizeLegibility;
    overflow-x: hidden;
    margin-left: 30px;
}

.clearfix{zoom:1}
.clearfix{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;

}

header
{
    background-image: url('img/white_background_green.png');
    height: 100vh;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    z-index: 0;
}

*-----------------------------------------------*/
/*Reusable Components*/
/*-----------------------------------------------*/
.row {
    position: relative;
    margin-right: 100px;
    margin-left: 100px;
}


a:link,
a:visited {
    color: #000000;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #19d400;
}

a:hover,
a:active{
    color:#555;
    border-bottom:1px solid transparent;
    transition: border-bottom 0.2s,color 0.2s;
}



.main-nav {
    position: relative;
    list-style: none;
    margin-top: 0px;
    z-index: 1;
}
.main-nav li{
    display: inline-block;
    margin-left:80px;
    z-index: 1;
}


.aboutlink {
    margin-top: 50px;
    float: left;
}
.worklink {
    margin-top: 50px;
    float: left;
}

.contactlink {
    margin-top: 50px;
    float: right;
    margin-right: 240px;
}

.logo,
.logo-black{
    height:120px;
    width:auto;
    float: left;
    margin-right: 10px;
}
.logo-black{
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin-top:5px ;
}

.logo-small {
    position: absolute;
    height: 40px;
    width: auto;
    margin-top:20px;
    margin-left: 980px;
}
.main-nav li{
    display: inline-block;
    margin-left:80px;
    z-index: 1;
}
.active {
    background-color: #04AA6D;
  }

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #000000;
}


.Profile
{
    position: absolute;
    height:700px;
    width: 650px;
    margin-top: 98px;
    bottom: 0px;
    left: 950px;
    z-index: 2;
}




